# NODE_ENV=production
NODE_ENV=development
# NODE_ENV=test

# PRODUCTION
PRODUCTION_PORT=7777
PRODUCTION_POSTGRES_USER=postgres
PRODUCTION_POSTGRES_PASSWORD=postgres
PRODUCTION_POSTGRES_DB=talis7_charging
PRODUCTION_DB_HOST=localhost
PRODUCTION_DB_PORT=5432
PRODUCTION_DB_PORT_EXPOSE=5433

# DEVELOPMENT
DEVELOPMENT_PORT=5000
DEVELOPMENT_POSTGRES_USER=postgres
DEVELOPMENT_POSTGRES_PASSWORD=passwd
DEVELOPMENT_POSTGRES_DB=dev_talis7_charging
DEVELOPMENT_DB_HOST=localhost
DEVELOPMENT_DB_PORT=5432

# TEST
TEST_PORT=5000
TEST_POSTGRES_USER=postgres
TEST_POSTGRES_PASSWORD=passwd
TEST_POSTGRES_DB=talis7_charging
TEST_DB_HOST=localhost
TEST_DB_PORT=5432

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://postgres:passwd@localhost:5432/dev_talis7_charging?schema=public"